@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #818cf8;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

/* ================= INPUT ================= */
.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black 
  bg-slate-100 rounded-lg px-4 py-3 
  focus-within:ring-2 focus-within:ring-emerald-500;
}

/* ================= BUTTONS ================= */

/* Primary Button (FOR FORMS ONLY) */
.btn-primary {
  @apply w-full flex items-center justify-center gap-2
  text-sm font-medium text-white 
  bg-violet-500 hover:bg-violet-600 
  shadow-lg shadow-purple-600/30 
  px-4 py-[10px] rounded-lg transition;
}

/* Header / Add Button */
.add-btn-fill {
  @apply flex items-center gap-2
  text-sm font-medium text-white
  bg-violet-500 hover:bg-violet-600
  px-4 py-2 rounded-lg transition;
}

/* Small Card Buttons */
.card-btn {
  @apply flex items-center gap-2 
  text-[12px] font-medium 
  text-gray-700 hover:text-purple-500 
  bg-gray-50 hover:bg-gray-100 
  px-3 py-1.5 rounded-md transition;
}

/* ================= CARD ================= */
.card {
  @apply bg-white p-6 rounded-2xl 
  shadow-md shadow-gray-100 
  border border-gray-200/50;
}

/* ================= UTILITY ================= */
.apply-btn {
  @apply w-full flex justify-between gap-3 
  text-sm text-black;
}
/* ================= RECHARTS FIX ================= */
.recharts-wrapper,
.recharts-surface,
.recharts-layer,
.recharts-bar-rectangle,
.recharts-tooltip-wrapper,
svg {
  pointer-events: auto !important;
}

.recharts-wrapper {
  overflow: visible !important;
}
